.footer-text {
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100%;
    font-size: smaller;
}

@media only screen and (max-width: 1050px) {
    .footer-text {
        text-align: center;
    }
}