@font-face {
    font-family: "Body";
    src: url("../fonts/Metropolis-Thin 400.otf");
}

@font-face {
    font-family: "BodyBold";
    src: url("../fonts/Metropolis-SemiBold 600.otf");
}

@font-face {
    font-family: "Navbar";
    src: url("../fonts/EB Garamond Regular 400.ttf");
}

@font-face {
    font-family: "Title";
    src: url("../fonts/EB Garamond Bold 700.ttf");
    font-weight: bold;
}

* {
    text-decoration: none;
    font-family: "Body";
    font-size: 2vh;
}

a {
    color: rgb(231, 146, 161);
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: 0px;
}

.container {
    display: block;
    position: relative;
    /* position must not be static to allow proper position of internal elements */
    margin: 0px auto;
    max-width: 1200px;
    height: auto;
    min-height: 80vh;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.container :is(h1) {
    font-family: "Title";
    margin: 0px;
    font-size: 5vh;
}

.section-container {
    position: relative;
    display: grid;
    /* min-height acutally not needed here since alr specified in .container */
    min-height: 80vh;
}

@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1000px;
    }
}

/* to leave a fixed margin after a fixed small views  */
@media only screen and (max-width: 1050px) {
    .container {
        margin: 0px 2vw;
    }
}