/* Style the tab */
.tab {
    box-sizing: border-box;
    float: left;
    width: 30%;
    justify-content: right;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: larger;
}

.active-tab {
    background-color: #ddd !important;
    border-left: 4px solid #999 !important;
    padding: 22px 16px 22px 12px !important;
    transition: 0.4s !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Style the tab content */

.content-wrapper {
    width: 70%;
    display: block;
    box-sizing: border-box;
    overflow: auto;
}

.content-image {
    /* have to use inline styles for position and width... :( */
    /* position: absolute; */
    /* width: 70%; */
    min-height: 50vh;
    opacity: 0.25;
    transform: translateY(100px) scale(0.9);
}

.content-all-text {
    position: absolute;
    padding: 0px 14px;
    overflow: auto;
}

.content-description {
    text-align: justify;
    text-justify: inter-word;
    min-height: 50vh;
    overflow: auto;
}

@media only screen and (max-width: 650px) {

    .tab button {
        font-size: small;
    }

    .content-image {
        min-height: 20vh;
    }

    .content-description {
        min-height: 20vh;
    }
}