/* Style the tab */
.tab {
    box-sizing: border-box;
    float: left;
    /* border-right: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
    justify-content: right;
    width: 30%;
    min-height: 50vh;
    max-height: 70px;
    overflow: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: larger;
}

.activetab {
    background-color: #ddd !important;
    border-left: 4px solid #999 !important;
    padding: 22px 16px 22px 12px !important;
    transition: 0.4s !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Style the tab content */

.tabwrapper {
    display: block;
    box-sizing: border-box;
    width: 70%;
    min-height: 50vh;
    overflow: auto;
}

.image {
    position: absolute;
    width: 70%;
    min-height: 50vh;
    opacity: 0.25;
    transform: scale(0.9) translateY(100px);
}

.tabcontent {
    position: absolute;
    padding: 0px 14px;
}

.tabtext {
    text-align: justify;
    text-justify: inter-word;
    min-height: 50vh;
    overflow: auto;
}

@media only screen and (max-width: 650px) {
    .tab button {
        font-size: small;
    }

    .tabtext {
        max-height: 58vh;
    }
}