.about-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 50%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 5vw;
    margin-bottom: 0px;
}

.byline {
    font-size: 1.5vw;
    color: darkslategrey;
    margin-top: 2px;
    margin-bottom: 12px;
}

.icon-bar {
    display: flex;
}

.icon-bar a {
    color: gray;
    padding: 0px 10px;
    transition: all 0.3s ease;
    font-size: 20px;
    position: relative;
    right: 8px;
}

.icon-bar a:hover {
    color: #000;
    /* Add a hover color */
}

.intro {
    color: darkslategray;
    line-height: 150%;
    margin-top: 25px;
    margin-bottom: 75px;
    text-align: justify;
    text-justify: inter-word;
}

.image {
    display: flex;
    align-items: center;
    transform: scale(0.9);
}

@media only screen and (max-width: 1200px) {
    .row {
        display: block;
    }

    .name {
        margin-top: 0px;
        font-size: 6vw;
    }

    .byline {
        font-size: 3vw;
    }

    .text {
        text-align: center;
    }

    .icon-bar {
        justify-content: center;
        align-items: center;
    }

    .intro {
        margin: 30px 5vw 0px;
        text-align: center;
    }

    .image {
        transform: scaleX(90%) scaleY(90%);
        -webkit-transform: scale(0.9, 0.9);
    }
}