@font-face {
    font-family: "Body";
    src: url("./fonts/Metropolis-Thin 400.otf");
}

@font-face {
    font-family: "Navbar";
    src: url("./fonts/EB Garamond Regular 400.ttf");
}

@font-face {
    font-family: "Title";
    src: url("./fonts/EB Garamond Bold 700.ttf");
    font-weight: bold;
}

* {
    text-decoration: none;
    font-family: "Body";
    /* padding: 0;
    margin: 0; */
}

body {
    background-color: whitesmoke;
}

.container {
    margin: auto;
    max-width: 500px;
}

.container :is(h1) {
    font-weight: bold;
    font-family: "Title";
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    font-family: "Navbar";
    color: black;
    display: inline-block;
    position: relative;
    font-size: large;
}

.nav-link-text:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: transform 0.25s ease-out;
}

.nav-link-text:hover:after {
    transform: scaleX(1);
}

.nav-link-text-active:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*  */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*  */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*  */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*  */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*  */
}