@font-face {
    font-family: "Metropolis Thin";
    src: url("./fonts/Metropolis-Thin 400.otf");
}

@font-face {
    font-family: "EB Garamond";
    src: url("./fonts/EB Garamond Regular 400.ttf");
}

@font-face {
    font-family: "EB Garamond";
    src: url("./fonts/EB Garamond Bold 700.ttf");
    font-weight: bold;
}

* {
    text-decoration: none;
    font-family: "EB Garamond";
    /* padding: 0;
    margin: 0; */
}

body {
    background-color: whitesmoke;
}

.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.container :is(h1, h2, h3, h4, h5, h6) {
    font-weight: bold
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    font-family: "Metropolis Thin";
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*  */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*  */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*  */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*  */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*  */
}