@font-face {
    font-family: "Body";
    src: url("./fonts/Metropolis-Thin 400.otf");
}

@font-face {
    font-family: "Navbar";
    src: url("./fonts/EB Garamond Regular 400.ttf");
}

@font-face {
    font-family: "Title";
    src: url("./fonts/EB Garamond Bold 700.ttf");
    font-weight: bold;
}

* {
    text-decoration: none;
    font-family: "Body";
}

body {
    background-color: whitesmoke;
}

.container {
    margin: auto;
    max-width: 1000px;
    position: relative;
    min-height: 94vh;
    padding-bottom: 2vh;
}

.container :is(h1) {
    font-weight: bold;
    font-family: "Title";
}

@media only screen and (max-width: 1050px) {
    .container {
        max-width: 650px;
    }
}