.nav-container {
    display: table;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0px;
    padding-top: 25px;
    justify-content: flex-end;
}

.nav-link-image {
    padding: 4px;
    transform: translateY(28px);
    float: left;
    width: 50px;
}

.nav-link-item {
    padding-left: 2rem;
}

.nav-link-text {
    font-family: "Navbar";
    color: black;
    display: inline-block;
    position: relative;
    font-size: x-large;
}

.nav-link-text:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: transform 0.25s ease-out;
}

.nav-link-text:hover:after {
    transform: scale(1);
}

.nav-link-text-active:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
}

@media only screen and (max-width: 580px) {
    .nav-link-image {
        width: 30px;
        transform: translateY(32px);

    }

    .nav-link-text {
        font-size: medium;
    }
}