@font-face {
    font-family: "BodyBold";
    src: url("./fonts/Metropolis-SemiBold 600.otf");
}

.section-container {
    display: grid;
    grid: 60px / 1fr 1fr 1fr;
    grid-row: auto;
    margin-bottom: auto
}

.section-header {
    grid-column: 1 / 4;
}

/* ————————————————————————— */

.skill-container {
    display: grid;
    padding: 0px 2vw;
    justify-items: center;
    margin-bottom: auto;
    width: 90%;
}

.skill-byline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.skill-container a {
    text-align: justify;
    text-justify: inter-word;
    font-size: 3vh;
}

.skill-container div {
    padding: 0.5vh
}

.see-other {
    font-family: "BodyBold";
    color: black;
}

/* ————————————————————————— */
.skill-box {
    color: rgb(170, 170, 170);
    padding: 2vh 2vw;
    margin: 0px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    cursor: pointer;
    transition: all 1s;
    font-size: 2.5vh;
    text-align: center;
}

.skill-box:hover {
    color: black;
    font-size: 2.5vh;
    font-family: "BodyBold";
    background-color: lightgray;
    border-left: 6px black solid;
    border-right: 6px black solid;
    transition: all 0.1s;
}

.skill-name {
    color: inherit;
}

@media only screen and (max-width: 650px) {
    .section-container {
        grid: 60px / 1fr;
    }

    .section-header {
        grid-column: 1 / 2;
        text-align: center;
    }

    .skill-box {
        font-size: 2.4vh;
    }

    .skill-box:hover {
        font-size: 3vh;
    }
}